//*--Base Element Styles--*/

*
{box-sizing: border-box;}

body {
  font-family:$main-page-font-family;
}

//Top netmatters logo, phone button, hamburger button and search bar 

header {
  width:100%;
  
  overflow-x: initial;
  padding: 20px 15px;

}
.top-line {
 
}
.container {
  
  max-width: auto;
  display: grid;
  
  grid-template-columns: 72% auto auto ;
  grid-column-gap: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-control {
  height: 47px;
  width: 100%;
  margin-top: 0px;
  padding-right: 40px ;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #e5e5e5;
  border-right: none;
  border-left: #555;
 border-bottom: #555;
 border-top: #555;
 

  
  
}


.search-bar {
  height: 47px;
  display: grid;
  width: 100%;
  grid-template-columns: auto;

  margin-right: auto;
  margin-top: 0px;
  box-shadow: none;
  border-style: none;
 
 
}
  
  
 



.input-group-mb-3 {
  display: grid;
  grid-template-columns: 80% auto;
  cursor: pointer;
  
  font-size:14px;
  color: white;

 border-left: none;
 border-right: #ccc;
 border-bottom: #ccc;
 border-top: #ccc;

}

#button-addon2 
{
  background-color: #e5e5e5;
border-color:#ccc;
border-left: none;
line-height: 1.15;
}


#netmatters { 
  max-width: 100%;
  display: block;
  
  margin-bottom: em(0px);
  padding-bottom: em(0px);
}

.fa-bars {
 overflow: hidden;
  font-size: $logo-font-size;
background-color: #333645;
  padding: 15px;
  color: white;
  margin-left: 15px;
  border-radius: 3px;



 
 

 }

.hamburger {
  width:33px;
  display:block;
   border: none;
   background-color: transparent;
 margin-bottom: 50px;
   margin-right: 40px;
   margin-top: -10px;
 
   
  
}
 
 
 
 .fa-phone {
   font-size: $logo-font-size;
   margin-left: 15px;
   text-decoration: none;
   color: black;
   outline: none;
   border: 0;
 
   
  
 }
 



//navigational menu that appear in vp's bigger than  992px  


.nav-item {
display: none;
padding: auto;
width: auto;
margin: 0 auto;
}


.nav-link {
display: none;
font-family: $main-page-font-family;
text-decoration: none;
color:white;
width: auto;
margin: 0 auto;
}
   
// Main Image on page and caption

.page-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
}

  .main-image {
    width : 100%;
    height: 100%;
  align-items:center;
  justify-content: center;
  
  background-size: cover;
  background-repeat: no-repeat;
}

.caption-text
{ display: grid;
  font-family: sans-serif;
  color: white;
  text-align: center;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  font-weight:$title-font-weight;


}

.img-title
{ 
  font-size: 2.5rem;
  font-weight: $title-font-weight;
 }

.img-text

{

  margin-bottom: .375rem ;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: $title-font-weight;
}


//Main page navigation buttons 

h1 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 line-height: 1.1;
 padding-left: 30px;
 font-weight: $title-font-weight;
 font-size: 2.7rem;
} 


.main-buttons
 {
  padding-top: 50px;
  padding-bottom: 0px;
   font-family: $main-page-font-family;
  font-size: 1rem;
  letter-spacing: .4px;
  max-width: auto;
  display: grid;
  padding: 20px 20px;
  grid-template-rows: auto auto auto auto auto auto auto ;
  grid-row-gap: 10px;

 

  
  
}



.btn-primary, .btn-primary-2, .btn-primary-3, .btn-primary-4, .btn-primary-5, .btn-primary-6, .btn-primary-7 {
  @include primary-button;

 
  }

.btn-primary h2 , .btn-primary-2 h2, .btn-primary-3 h2,  .btn-primary-4 h2, .btn-primary-5 h2, .btn-primary-5 h2, .btn-primary-6 h2,
 .btn-primary-7 h2
{ 
  @include primary-button-h2;
  
}

.btn-primary h3 , .btn-primary-2 h3, .btn-primary-3 h3,  .btn-primary-4 h3, .btn-primary-5 h3, .btn-primary-5 h3, .btn-primary-6 h3,
 .btn-primary-7 h3 
 {
   @include primary-button-h3;
 }

 .fa-table-cells, .fa-desktop, .fa-chart-simple, .fa-code, .fa-shield-halved, .fa-graduation-cap, .fa-phone
{
  @include icon-style
}

.fa-table-cells {
  background-color: $hover-color-blue;
}

.btn-primary:hover .fa-table-cells 
{
  background-color: $icon-background-hover;
  color: $hover-color-blue;
}

.fa-desktop
 {
  background-color: $hover-color-bright-blue;
}

.btn-primary-2:hover .fa-desktop
{
  background-color: $icon-background-hover;
  color: $hover-color-bright-blue;
}

.fa-chart-simple
{
  background-color:$hover-color-bright-green;
}

.btn-primary-3:hover .fa-chart-simple
{
  background-color: $icon-background-hover;
  color: $hover-color-bright-green
}

.fa-phone
{
  background-color: $hover-color-red;
}

.btn-primary-4:hover .fa-phone
{
  background-color:$icon-background-hover;
  color: $hover-color-red;
}

.fa-code
{
 background-color: $hover-color-purple;
}

.btn-primary-5:hover .fa-code
{
  background-color: $icon-background-hover;
  color: $hover-color-purple;
}

.fa-shield-halved
{
  background-color: $hover-color-pink;
}

.btn-primary-6:hover .fa-shield-halved
{
  background-color: $icon-background-hover;
  color: $hover-color-pink;
}

.fa-graduation-cap 
{
  background-color: $hover-color-red;
}

.btn-primary-7:hover .fa-graduation-cap
{
  background-color: $icon-background-hover;
  color: $hover-color-red;
}




.btn-primary:hover {
  background-color: $hover-color-blue;

  
}

.btn-primary:hover h2, .btn-primary-2:hover h2, .btn-primary-3:hover h2,.btn-primary-4:hover h2, .btn-primary-5:hover h2,
.btn-primary-6:hover h2, .btn-primary-7:hover h2 {
  color: white;
}

.btn-primary:hover h3, .btn-primary-2:hover h3, .btn-primary-3:hover h3,.btn-primary-4:hover h3, .btn-primary-5:hover h3,
.btn-primary-6:hover h3, .btn-primary-7:hover h3 {
  color: white;
}

  .btn-primary:hover text
  {
    background-color: white;
    color: $hover-color-blue;
  }



.btn-primary text {
 @include primary-button-text;
 background-color: $hover-color-blue;
}

.btn-primary-2 text {
  @include primary-button-text;
  background-color: $hover-color-bright-blue;
}

.btn-primary-3 text {
  @include primary-button-text;
  background-color: $hover-color-bright-green;
}

.btn-primary-4 text {
  @include primary-button-text;
  background-color: $hover-color-red;
}

.btn-primary-5 text {
  @include primary-button-text;
  background-color: $hover-color-purple;
}

.btn-primary-6 text {
  @include primary-button-text;
  background-color: $hover-color-pink;
}

.btn-primary-7 text {
  @include primary-button-text;
  background-color: $hover-color-red;
}

.btn-primary h2 
{
  font-weight: $btn-primary-weight;
  
}

.btn-primary h3
{
  font-weight: $btn-primary-weight;
}



.btn-primary-2 text 
{
  background-color: $hover-color-bright-blue;
}


.btn-primary-2:hover {
  background-color: $hover-color-bright-blue;
  color: white;
}




.btn-primary-2:hover text
{
  background-color: white;
  color: $hover-color-bright-blue;
}





 
  
  .btn-primary-2 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-2 h3
  {
    font-weight:  $btn-primary-weight;
  }

  .btn-primary-3 text 
  {
    background-color: $hover-color-bright-green;
  }
 

 
    
    .btn-primary-3:hover 
    {
      background-color: $hover-color-bright-green;
      color: white;
     
    }
   
    .btn-primary-3:hover text
    {
      background-color: white;
      color: $hover-color-bright-green;
    }
  

   

    .btn-primary-3 text:hover 
    {
      background-color: white;
      color:$hover-color-bright-green;
    }

    .btn-primary-3:hover text
    {
      background-color: white;
      color: $hover-color-bright-green;
    }
  
    .btn-primary-3 h2 
    {
      font-weight:  $btn-primary-weight;
    }
    
    .btn-primary-3 h3
    {
      font-weight:  $btn-primary-weight;
    }
    
    



  .btn-primary-4:hover 
  {
    background-color: $hover-color-red;
    color: white;
  }

  
.btn-primary-4 text 
{
  background-color: $hover-color-red;
}
  

  .btn-primary-4 text:hover 
  {
    background-color: white;
    color:$hover-color-red;
  }

  .btn-primary-4:hover text
  {
    background-color: white;
    color: $hover-color-red;
  }
  
  .btn-primary-4 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-4 h3
  {
    font-weight:  $btn-primary-weight;
  }
  
  



  .btn-primary-5:hover 
  {
    background-color: $hover-color-purple;
    color: white;
  }

  .btn-primary-5 text:hover 
  {
    background-color: white;
    color:$hover-color-purple;
  }

  .btn-primary-5:hover text
{
  background-color: white;
  color: $hover-color-purple;
}

  .btn-primary-5 text {
   
    background-color: $hover-color-purple;

    
    
  }
  
  .btn-primary-5 h2 
  {
    font-weight:  $btn-primary-weight;
    
  }
  
  .btn-primary-5 h3
  {
    font-weight:  $btn-primary-weight;
    
  }
  
  



  .btn-primary-6:hover 
  {
    background-color: $hover-color-pink;
    color: white;
  }

  .btn-primary-6:hover text
{
  background-color: white;
  color: $hover-color-pink;
}


  .btn-primary-6 text {
   
    background-color: $hover-color-pink;
    
  }
  
  .btn-primary-6 text:hover
   {
     background-color: white;
     color:$hover-color-pink;

  }
  .btn-primary-6 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-6 h3
  {
    font-weight:  $btn-primary-weight;
  }
  
  


  .btn-primary-7:hover 
  {
    background-color: $hover-color-red;
    color: white;

  }

  .btn-primary-7:hover text
  {
    background-color: white;
    color: $hover-color-red;
  }

  .btn-primary-7 text {
   background-color: $hover-color-red;
  }

  .btn-primary-7 text:hover
  {
    background-color: white;
    color: $hover-color-red;
  }
  
  .btn-primary-7 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-7 h3
  {
    font-weight:  $btn-primary-weight;
  }
  



//The small partner logos

.adverts {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.small-logos {
  
  max-width: auto;
  display: grid;
 
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 30px;
  margin: 0;
  cursor: pointer;
  overflow-x: hidden;
}

  .logo-item-1, .logo-item-2, .logo-item-3, .logo-item-4, .logo-item-5, .logo-item-6
   {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-1:hover, .logo-item-2:hover, .logo-item-3:hover, .logo-item-4:hover, .logo-item-5:hover,
 .logo-item-6:hover
  {
  -webkit-filter: none ;
 }

 

 



//Netmatters info and client review

.welcome   {
  background-color:$main-color;
  max-width: 100%;
  display: grid;
  color:$main-font-color;
  padding-right: 5px;
  text-align: left;
  font-weight: $title-font-weight;
  line-height: 1.4;
  font-size: 1rem;


 
    
 
}



article
{ font-family: sans-serif;
  line-height:1.8rem;
  letter-spacing:.4px;
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin-bottom: 25px;
  margin-left: 30 px;
  cursor: pointer;
  color:white;


}

.clients h1 {
  margin-left: 5px;
  text-align:left ;

}
.clients h3 {
font-style: italic;
text-align: left;

}

.fa-star {
  color:rgb(255, 238, 0);
  font-size: 50px;
  padding-right: 20px;
}

.btn-primary-welcome {
  background-color: #272936;
  @include button-netmatters ;
}

h4 {
  font-family: $main-font-family;
  color:gray;
}
.btn-primary-client {
  @include button-netmatters;
  background-color: #4387f6; 
}

.btn-primary-client2 {
  @include button-netmatters ;
  background-color: #00b67b;
}

//3 image and text cards
 
.cards 
{
 display: grid;

}


.card-1, .card-2, .card-3 {
  

 
  margin:20px;
  display:grid;
  font-family: $main-font-family;

  padding-right: $card-padding;
  border: $card-border;
  border-radius: $card-border-radius ;
  grid-template-rows: auto auto auto ;
  text-decoration: none;
  border-color: #e5e5e5;
}

.card-img  {
  max-width:100%;
  display: grid;
  padding: 10px;
}



 
.card-text, .card-text-2, .card-text-3 {
  width: 100%;
 color: grey;
 margin:10px;
 text-decoration: none;


}

.btn-primary-card1{
  @include button-primary-card;
  background-color: $hover-color-blue;

}

.btn-primary-card2, .btn-primary-card3
{
  @include button-primary-card;
  background-color: #926fb1;
}




.btn-primary-cardlogo {
  border:none;
  background-color: white;
}

.postedb {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding-left:50px;
}

.posted-by-netmatters h6 {
  color:gray;
}






.card-title-2, .card-title-3   {

  @include card-title
  
}








//View all button and arrow 

.view-all {
  border: none;
  background: transparent;
  padding:15px;
 margin-left: 35%;
  font-family: $main-font-family;
  font-weight: bold;
  font-size: x-large;
 
 
}

//Email form 

.email-form
{
  display: grid;
  font-family: $main-font-family; 
  background-color: rgb(206, 206, 206);
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  

 

  padding-right: $card-padding;
  padding-left: $card-padding;
 
 
  grid-template-rows: auto auto auto ;

  
  

}

.email-form h1 
{
  font-weight: lighter;
  text-align: center;
}

.form-label 
{
  margin:40px;
  border-top: 20px;
  
  
}

.fa-asterisk 
{
  color: red;
  font-size: 10px;
}


.form-check-input
{
 
  color: $main-color;
  background: transparent;
  background-color: $main-color ;
  width: 30px;
  height: 30px;
  margin: 20px;
  text-align: center;
  font-family: $main-font-family;
  float: left;
}

.form-check-label 
{
  color:#333645;
  font-weight: lighter;
}

//Subscribe button and arrow 

.btn-primary-subscribe 
{
background-color: #333645;
border-radius:$page-buttons-border-radius ;
padding-left: $page-buttons-left-padding;
padding-right: $page-buttons-right-padding;
padding-top: $page-buttons-top-padding ;
padding-bottom: $page-buttons-bottom-padding;
font-family: $main-font-family;
color: $main-font-color ;
border-width: $page-buttons-border-width; 
margin: 20px;
}

//Footer information and links 

footer {
  background-color:$main-color;
  max-width: 100%;
  display: grid;
  grid-template-columns:auto auto ;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:0%;
 
  

}
.about  {
 
  color:$main-font-color;
  padding-right: 5px;
  margin:0%;
  


}

.about h3 {
padding-top: 30px;
margin: 20px;
font-family: $main-font-family;
color: $main-font-color;
font-weight: lighter;
font-size: medium;
flex-wrap: wrap;
justify-content: space-between;

}

.about h4 {

  margin: 5px;
  margin-left:20px;
  font-family: $main-font-family;
  color: $main-font-color;
  font-weight: lighter;
  font-size: small;

  
  }

  .services
  {
  background-color:$main-color;
  max-width: 100%;

  color:$main-font-color;
  padding-right: 5px;
  margin:0%;
  
  }

  .services h3 {
    padding-top: 30px;
    margin: 20px;
    font-family: $main-font-family;
    color: $main-font-color;
    font-weight: lighter;
    font-size: medium;
    
    }

    .services h4 {

      margin: 5px;
      margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: small;
     
      
      }
    


    .cambridge  {
      
      color:$main-font-color;
      padding-right: 5px;
      margin:0%;
      
    
    
    }
    
    .cambridge h3 {
    padding-top: 30px;
    margin: 20px;
    font-family: $main-font-family;
    color: $main-font-color;
    font-weight: lighter;
    font-size: medium;
    
    }
    
    .cambridge h4 {
    
      margin: 5px;
      margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: small;
     
      
      }
    
      .wymondham  {
    
        color:$main-font-color;
        padding-right: 5px;
        margin:0%;
        
      
      
      }
      
      .wymondham h3 {
      padding-top: 30px;
      margin: 20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: medium;
      
      }
      
      .wymondham h4 {
      
        margin: 5px;
        margin-left:20px;
        font-family: $main-font-family;
        color: $main-font-color;
        font-weight: lighter;
        font-size: small;
      
        
        }
      
        .yarmouth  {
          
          color:$main-font-color;
          padding-right: 5px;
          margin:0%;
         
        
        
        }
        
        .yarmouth h3 {
        padding-top: 30px;
        margin: 20px;
        font-family: $main-font-family;
        color: $main-font-color;
        font-weight: lighter;
        font-size: medium;
        
        }
        
        .yarmouth h4 {
        
          margin: 5px;
          margin-left:20px;
          font-family: $main-font-family;
          color: $main-font-color;
          font-weight: lighter;
          font-size: small;
        
          
          }

        //Copyright Information
        
        .copyright
        {
          background-color: $main-color;
          margin: 0%;
        }

        .copyright h4 
        {
          padding: 30px;
          color:$main-font-color;
          margin: 0%;
          font-size: small;
          display: inline-block;
          font-weight: lighter;
          
        }
      
