//*--Base Element Styles--*/

*
{box-sizing: border-box;}

body {
  font-family:$main-page-font-family;


}

//Top netmatters logo, phone button, hamburger button and search bar 
.Main-page
header {
  width:100%;
  
  overflow-x: initial;
  


}

.container-2
{
  display:none;
}

.container {
  
max-width: auto;
  display: grid;
  
  grid-template-columns: 65% auto 25% ;
  grid-column-gap: 10px;
  grid-row-gap:15%;
  padding-bottom: 0px;

  


 


}

.contact
{
  display:none
}
#support-btn
{
  display: none;
}
.form-control {
  height: 47px;
  width: 100%;
  font-family: 'Helvetica';
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  cursor: pointer;
  background-color:#e7e6e6;


  border-width: 2px;
  border-style: solid;
  border-color: rgba(0,0,0,.1);
 
 
  border-right:none;
  margin-left:14px;


  
  
}

.mb-3 .form-control
{
  background-color:white;
}


.search-bar {
  height: 100%;
  
  width: 162%;
  grid-template-columns: auto;


  margin-top: -51px;
  box-shadow: none;
  border-style: none;
  padding-right:35px;
  padding-bottom: 33px;
  padding-left:4px;
 


 
 
}
  
.fa-magnifying-glass
{
  
  font-size:20px;
  text-align:center;
  margin-left:40%;
}
 



.input-group-mb-3 {
  display: grid;
  grid-template-columns: 80% auto;
  cursor: pointer;
  
  font-size:14px;
  color: white;

 border-left: none;
}
#button-addon2 
{
  background-color: #e5e5e5;

border-left: none;
line-height: 1.15;

border-color:rgba(0,0,0,.1);



}


#netmatters { 
  max-width: 100%;
  display: block;
  line-height: 22.8571;
  padding-top:36px;
  padding-left:15px;
  padding-bottom:15px;
  
}

.header-buttons
{
  display:none;
}

.fa-bars {
 overflow: hidden;
  font-size: $logo-font-size;
background-color: #333645;
  padding-left: 15px;
  padding-right:15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-left: 15px;
  border-radius: 3px;



 
 

 }

.hamburger {
  width:36px;
  height:35%;
  display:block;
   border: none;
   background-color: transparent;
 margin-bottom: 50px;
   
   padding-top:27px;
   padding-right:35px;
  
margin-left:-12px; 
   color:  #121419;
   
 
   
  
}
 
 
 
.fa-phone  {
   font-size: $logo-font-size;

   
   text-decoration: none;
   color:  #121419;
   outline: none;
   border: 0;

   
  
 }

 .phone 
 {background-color: transparent;
  border: none;
  color:  #333645;
  padding-top:36px;
 

 
  

}
 



//navigational menu that appear in vp's bigger than  992px




.nav-item {
display: none;
padding: auto;
width: auto;
margin: 0 auto;
}




.nav-link {
display: none;
font-family: $main-page-font-family;
text-decoration: none;
color:white;
width: auto;
margin: 0 auto;
text-align: center;
margin-left:-200px;
height:100%;


}

#small-desktop
{
  display:none
}


// Main Image on page and caption

.Main-page 
{
 
  position: relative;
  display:grid;
  place-items: center;
  width: 100%;
  height: 600px;
}

.page-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  position: relative;
  filter: brightness(0.5);
}

  .main-image {
    width : 100%;
    height: 100%;
  align-items:center;
  justify-content: center;
  
  background-size: cover;
  background-repeat: no-repeat;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html,footer
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.caption-text
{ display: block;
  font-family: sans-serif;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-size: 14px;
  font-weight:$title-font-weight;
  letter-spacing: .4px;
  margin-top:-39px;
  padding:5%



}

.img-title
{ 
  font-size: 47px;
  font-weight: 600;
  height:260px;
  margin-bottom:20px;
  margin-left:15px;
  margin-right:15px;
  margin-top:-120px;
  
 }

.img-text

{

  margin-bottom: -63px; 
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 600;
  margin-left:15px;
  margin-right:15px;
  margin-top: 80px;
}


//Main page navigation buttons 

strong {
 font-family:  Arial, Helvetica, sans-serif;
 line-height: 1.1;

 font-weight: 100;
 font-size: 44px;
 letter-spacing: .4px;
 line-height:2;
 color:#333;
 margin-top:-20px;
 padding-right:0px;
 margin-right:-100px;
 margin-top: 40px;
 padding-left:8px;
 
} 

.main-blocks-2
{
  display:none
}

.main-buttons
 {
 
   font-family: $main-page-font-family;
  font-size: 1rem;
  letter-spacing: .4px;
  max-width: auto;
  display: grid;
  padding-left:0px;
  padding-right:0px;
  margin-left: 10px;
  margin-right:10px;
  grid-template-rows: auto auto auto auto auto auto auto ;
  grid-row-gap: 10px;

 

  
  
}



.btn-primary, .btn-primary-2, .btn-primary-3, .btn-primary-4, .btn-primary-5, .btn-primary-6, .btn-primary-7 {
  @include primary-button;
  height: 15%;
 

 
  }

.primary-inner h2
{ 
  @include primary-button-h2;
  
  
}

.main-image
{
  width:130%;
  padding-right:0px;
  margin-right: 0px;
}



.primary-inner h3 
 {
   @include primary-button-h3;
 }

 .fa-table-cells
 {
  @include icon-style;

  
}

.fa-desktop, .fa-chart-simple, .fa-code, .fa-shield-halved, .fa-graduation-cap, .fa-phone
{
  @include icon-style;
  margin-bottom: 15px;
}

.fa-table-cells {
  background-color: $hover-color-blue;

 padding:17px;

}

.btn-primary:hover .fa-table-cells 
{
  background-color: $icon-background-hover;
  color: $hover-color-blue;
}

.fa-desktop
 {
  background-color: $hover-color-bright-blue;
 
  padding:17px;

}

.btn-primary-2:hover .fa-desktop
{
  background-color: $icon-background-hover;
  color: $hover-color-bright-blue;
}

.fa-chart-simple
{
  background-color:$hover-color-bright-green;

  padding:17px;
}

.btn-primary-3:hover .fa-chart-simple
{
  background-color: $icon-background-hover;
  color: $hover-color-bright-green
}

.fa-phone
{
  background-color: $hover-color-red;

  padding:17px;

}

.btn-primary-4:hover .fa-phone
{
  background-color:$icon-background-hover;
  color: $hover-color-red;
}

.fa-code
{
 background-color: $hover-color-purple;
 
 padding:17px;

}

.btn-primary-5:hover .fa-code
{
  background-color: $icon-background-hover;
  color: $hover-color-purple;
}

.fa-shield-halved
{
  background-color: $hover-color-pink;
 
  padding:17px;

}

.btn-primary-6:hover .fa-shield-halved
{
  background-color: $icon-background-hover;
  color: $hover-color-pink;
}

.fa-graduation-cap 
{
  background-color: $hover-color-red;
 
  padding:17px;

}

.btn-primary-7:hover .fa-graduation-cap
{
  background-color: $icon-background-hover;
  color: $hover-color-red;
}




.btn-primary:hover {
  background-color: $hover-color-blue;

  
}

.btn-primary-2:hover {
  background-color: $hover-color-bright-blue;
  color: white;
}

.btn-primary-3:hover 
{
  background-color: $hover-color-bright-green;
  color: white;
 
}


.btn-primary-4:hover 
{
  background-color: $hover-color-red;
  color: white;
}



.btn-primary-5:hover 
{
  background-color: $hover-color-purple;
  color: white;
}


.btn-primary-6:hover 
{
  background-color: $hover-color-pink;
  color: white;
}






.btn-primary:hover h2, .btn-primary-2:hover h2, .btn-primary-3:hover h2,.btn-primary-4:hover h2, .btn-primary-5:hover h2,
.btn-primary-6:hover h2, .btn-primary-7:hover h2 {
  color: white;
}

.btn-primary:hover h3, .btn-primary-2:hover h3, .btn-primary-3:hover h3,.btn-primary-4:hover h3, .btn-primary-5:hover h3,
.btn-primary-6:hover h3, .btn-primary-7:hover h3 {
  color: white;
}

  .btn-primary:hover #read
  {
    background-color: white;
    color: $hover-color-blue;
  }

  
.btn-primary-2:hover #read-2
{
  background-color: white;
  color: $hover-color-bright-blue;
}

.btn-primary-3:hover #read-3
{
  background-color: white;
  color: $hover-color-bright-green;
}

.btn-primary-4:hover #read-4
{
  background-color: white;
  color: $hover-color-red;
}

.btn-primary-5:hover #read-5
{
  background-color: white;
  color: $hover-color-purple;
}

.btn-primary-6:hover #read-6
{
  background-color: white;
  color: $hover-color-pink;
}

.btn-primary-7:hover #read-7
{
  background-color: white;
  color: $hover-color-red;
}




  .primary-inner
  {
   
   
   margin-left:31px;
   margin-right:31px;
   margin-top:-25px;
   
    }



#read {
 @include primary-button-text;
 background-color: $hover-color-blue;
 
}

#read-2 {
  @include primary-button-text;
  background-color: $hover-color-bright-blue;
  
 }

 #read-3 {
  @include primary-button-text;
  background-color: $hover-color-bright-green;
  
 }

 #read-4 {
  @include primary-button-text;
  background-color: $hover-color-red;
  
 }

 #read-5
 {
  @include primary-button-text;
  background-color: $hover-color-purple;
 }

 
 #read-6
 {
  @include primary-button-text;
  background-color: $hover-color-pink;
 }

 
 #read-7
 {
  @include primary-button-text;
  background-color: $hover-color-red;
 }

.primary-inner #read-2 {
  @include primary-button-text;
  background-color: $hover-color-bright-blue;
}

.primary-inner #read-3 {
  @include primary-button-text;
  background-color: $hover-color-bright-green;
}

.primary-inner #read-4 {
  @include primary-button-text;
  background-color: $hover-color-red;
}

.primary-inner #read-5 {
  @include primary-button-text;
  background-color: $hover-color-purple;
}

.primary-inner #read-6 {
  @include primary-button-text;
  background-color: $hover-color-pink;
}

.primary-inner #read-7 {
  @include primary-button-text;
  background-color: $hover-color-red;
}



  .btn-primary-6 #read-6:hover
   {
     background-color: white;
     color:$hover-color-pink;

  }
  .btn-primary-6 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-6 h3
  {
    font-weight:  $btn-primary-weight;
  }
  
  


  .btn-primary-7:hover 
  {
    background-color: $hover-color-red;
    color: white;

  }

 

 




//The small partner logos

.adverts {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  @include section-padding
}

.small-logos {
  
  max-width: auto;
  display: grid;
 
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 30px;
  margin: 0;
  margin-top:285px;
  cursor: pointer;
  overflow-x: hidden;
  @include section-padding
}

  .logo-item-1, .logo-item-2, .logo-item-3, .logo-item-4, .logo-item-5, .logo-item-6
   {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-1:hover, .logo-item-2:hover, .logo-item-3:hover, .logo-item-4:hover, .logo-item-5:hover,
 .logo-item-6:hover
  {
  -webkit-filter: none ;
 }

 

 



//Netmatters info and client review

.welcome   {
  background-color:$main-color;
  max-width: 100%;
  display: grid;
  color:$main-font-color;
  
  text-align: left;
  letter-spacing: 1.4;
  line-height: 1;
  
 
 }

 .info 
 {
  margin-top:10px;
  margin-left:-20px;
  margin-right:10px;

 }

 .info h1
 {
  font-size: 37px;
 
 }



article
{ font-family: sans-serif;
  line-height:1.8rem;
  letter-spacing:.4px;
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin-bottom: 25px;
  padding-top: 15px;
  font-weight:bold;
  cursor: pointer;
  color:white;
  font-size:18px;


}

.info h2
{ font-family: sans-serif;
  line-height:1.8rem;
  letter-spacing:.4px;
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin-bottom: 25px;
  padding-top: 15px;
  font-size: 18px;
  cursor: pointer;
  color:white;
  font-weight:200;



}

.info h3 
{  font-family: sans-serif;
  line-height:1.8rem;
  letter-spacing:.4px;
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin-bottom: 25px;
  padding-top: 15px;
  font-size: 18px;
  cursor: pointer;
  color:white;
  font-weight:200;


}

.clients h1 {

  text-align:left ;
  margin-left:-22px;
  font-size:36px;
  font-weight:600;
  letter-spacing:.4px;
  line-height:40px;
  margin-top:5px;


}
.clients h3 {
font-style: italic;
text-align: left;
font-size:21px;
font-weight:  $title-font-weight;
margin-left: -25px;
letter-spacing:.4px;
margin-right:1px;

}

.fa-star {
  color: orange;
  font-size: 42px;
  padding-right: 20px;
  letter-spacing: -4px;
  margin-left: -10px;
  margin-top:10px;
  
  
}

.btn-primary-welcome {
  background-color: #272936;
  @include button-netmatters ;

}

h4 {
  font-family: $main-font-family;
  color:#a3a8ac;
  margin-left: -22px;
  letter-spacing:.4px;
  line-height:30px;
  font-size:18px;

}
.btn-primary-client {
  @include button-netmatters-reviews;
  background-color: #4387f6; 
  text-align: center;
  margin-bottom: 20px;

}

.btn-primary-client2 {
  @include button-netmatters-reviews ;
  background-color: #00b67b;
  text-align:center;
  margin-bottom:36px;
}

.fa-arrow-right
{
  margin-left:9px;
}

//3 image and text cards
.latest
{
  font-size:36px;
  font-weight:600px;
  line-height: 40px;
  letter-spacing:.4px;
  margin-left:18px;
  margin-top:41px;
  display:grid;
  font-family:"Helvetica";

}




.card-1, .card-2, .card-3 {
  


  margin:20px;
  
  display:grid;
  font-family: $main-font-family;
  font-size:13px;
  font-weight:600;

  border: $card-border;

  
  text-decoration: none;
  border-color: #e5e5e5;
}

.card-img  {
  width:100%;
  display: grid;
  
}




 
.card-text, .card-text-2, .card-text-3 {
  width: 100%;
 color: grey;
 padding-left:25px;
 text-decoration: none;
 font-family: $main-font-family;
 font-weight: 400
 


}

.btn-primary-card1{
@include card-buttons;
margin-left:23px;
margin-bottom:20px;
  background-color: $hover-color-blue;

}

.btn-primary-card2, .btn-primary-card3
{
  @include card-buttons;
  background-color: #926fb1;
  margin-left:23px;
margin-bottom:20px;
}




.btn-primary-cardlogo {
  border:none;
  background-color: white;
  margin-left: 20px;
}

hr
{
  width:85%;
  border-color:rgb(196, 190, 190);
  background-color: transparent;
  
  border-style:solid
  
}



.posted-by-netmatters h6 {
  color:gray;
 
  font-size: 13.5px;
font-weight: 550;
font-family: "Helvetica";
line-height:6px;
letter-spacing:.4px;
padding-left:95px;
margin-top:16px;
}

.posted-by-netmatters h5
{
  padding-top:8px;
  font-size: 13.5px;
font-weight: 700;
font-family: "Helvetica";
line-height:4px;
letter-spacing:.4px;
margin-left:95px;
margin-top:25px;

}






 .card-title-1
{

  @include card-title;

  color:#67809f
}

.card-title-2
{
  @include card-title;
  color: #926fb1;
}

.card-title-3
{
  @include card-title;
  color: #926fb1;
}







//View all button and arrow 

.view-all {
  border: none;
  background: transparent;
  padding:15px;

  font-family: $main-font-family;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  letter-spacing:.4px;
  text-align: center;
  margin-left:24%;
  margin-right: 20%;
  margin-top: 25px;
  margin-bottom:28px;
 
 
}

.view-all-2
{display:none}

//Email form 

.email-form
{
  display: grid;
  font-family: $main-font-family; 
  background-color: #dddddd;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;

  

 

 
  grid-template-rows: auto auto auto ;

  
  

}

.email-form h1 
{
  font-weight:400;
  font-size: 37px;
  line-height: 45px;
  margin-left:15px;
  letter-spacing: .4px;
  margin-top:45px;
 
}


.mb-3 .form-label 
{
 font-weight:549;
 letter-spacing: .4px;
 line-height: 23px;
 margin-left:14px;
 

  
}

.mb-3
{
  margin-top: -30px;
  width:91%;
  

}


.mb-3 .form-label .fa-asterisk 
{
  color: darkred;
  font-size: 8px;
 
}

.form-check
{
  display:flex;
  flex-direction: row;
  padding-left:14px;
  width:91%;

}

.form-check-input
{
 

  background: transparent;


  height:0px;
 
  margin-left: 15px;
  margin-top: -5px;
  text-align: center;

  

  border-color: #333645 ;
  color: #333645;
  border-width: 30px;
  font-weight: 600;
 
}

.form-check 
{
  color: #333645;
  border-width:3px;

};



.form-check-label 
{
  color:#333645;
  font-weight: 600;
  
  letter-spacing: .4px;
 line-height:32px;
 margin-top:8px;
 margin-bottom:-5px;
}

//Subscribe button and arrow 

.btn-primary-subscribe 
{
background-color: #333645;
border-radius:3px ;
padding-left:15px;
padding-right:15px;
padding-top: $page-buttons-top-padding ;
padding-bottom: $page-buttons-bottom-padding;
font-family: $main-font-family;
color: $main-font-color ;
border-width: $page-buttons-border-width; 
margin-top: 20px;
margin-bottom: 50px;
font-size:18px;
margin-left:15px;
}

//Footer information and links 

footer {
  background-color:$main-color;
  max-width: 100%;
 
 
  
  justify-content: space-between;
  margin:0%;
 
  border-left-color:$main-color;
  border-right-color: $main-color;
}
 .footer
 {

  display: flex;
  justify-content: space-between;
  border-top:1px solid #888;
  max-width: 100%;
  border-left-color:$main-color;
  border-right-color: $main-color;
  
 } 

 .footer .socials
 {
  background-color:$main-color;
  color:white;
  flex-direction:row;
  display: flex;
  border:none;
  font-size:17px;
  padding-top:10px;
  padding-right:15px;
  border-left-color:$main-color;
  border-right-color: $main-color;
 }

 .footer text
 {
  background-color:$main-color;
  color:white;
  
  display: inline-block;
  border-left-color:$main-color;
  border-right-color: $main-color;
  font-size:17px;
  padding-top:10px;
  padding-right:15px;
 }

#facebook
{
  margin-top:5px;
  margin-left:15px;
}
#link
{

  margin-top:5px;
  margin-left:15px;
}
#twitter
{
  margin-top:5px;
  margin-left:15px;
}
#insta
{
  margin-top:5px;
  margin-left:15px;
}

footer
{
  margin-top:-5px;
  display: flex;
  flex-direction: column;
}

footer h4:hover
{
  text-decoration: underline;
}

.about
{
  display:flex;
  flex-direction: column;
  color:$main-font-color;
  padding-right: 5px;
 
  


}

.about h3 {
padding-top: 8px;
padding-left:20px;

font-family: $main-font-family;
color: $main-font-color;
font-weight: lighter;
font-size: 20px;
line-height: 23px;


}

.about h4 {


  margin-left:20px;
  font-family: $main-font-family;
  color: $main-font-color;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: -20px;


  
  }

  .services
  {
    padding-top:30px;
    display:flex;
    flex-direction: column;
    color:$main-font-color;
    padding-right: 5px;
  }

  .services h3 {
    padding-top: 8px;
    padding-left:20px;
    
    font-family: $main-font-family;
    color: $main-font-color;
    font-weight: lighter;
    font-size: 20px;
    line-height: 23px;
    }

    .services h4 {

      margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: 16px;
      margin-bottom: -20px;
    
     
      
      }
    


    .cambridge  {
      
      display:flex;
      flex-direction: column;
      color:$main-font-color;
      padding-right: 5px;
      padding-top:30px;
      
    
    
    }
    
    .cambridge h3 {
      padding-top: 8px;
      padding-left:20px;
      
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: 20px;
      line-height: 23px;
    }
    
    .cambridge h4 {
    
      margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: 16px;
      margin-bottom: -20px;
    
     
     
      
      }
    
      .wymondham  {
    
        display:flex;
        flex-direction: column;
        color:$main-font-color;
        padding-right: 5px;
        padding-top:30px;
      
      
      }
      
      .wymondham h3 {
        padding-top: 8px;
        padding-left:20px;
        
        font-family: $main-font-family;
        color: $main-font-color;
        font-weight: lighter;
        font-size: 20px;
        line-height: 23px;
      
      }
      
      .wymondham h4 {
      
        margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: 16px;
      margin-bottom: -20px;
      
        
        }
      
        .yarmouth  {
          
          display:flex;
        flex-direction: column;
        color:$main-font-color;
        padding-right: 5px;
        padding-top:30px;
         
        
        
        }
        
        .yarmouth h3 {
          padding-top: 8px;
          padding-left:20px;
          
          font-family: $main-font-family;
          color: $main-font-color;
          font-weight: lighter;
          font-size: 20px;
          line-height: 23px;
        
        }
        
        .yarmouth h4 {
  
          margin-left:20px;
          font-family: $main-font-family;
          color: $main-font-color;
          font-weight: lighter;
          font-size: 16px;
          margin-bottom: -20px;
          
        
          
          }

        //Copyright Information
        
        .copyright
        {
          background-color: $main-color;
          padding-left:8%;
          padding-bottom:8%;
          border:none;
        }

        .copyright h4 
        {
          
          color:$main-font-color;
          margin: 0%;
          font-size: 15px;
          display: inline-block;
          font-weight: lighter;
          border:none;
          
        }
      
