//*--Base Element Styles--*/

*
{box-sizing: border-box;}

body {
  font-family:$main-page-font-family;
}

//Top netmatters logo, phone button, hamburger button and search bar 

header {
  width:100%;
  
  overflow-x: initial;
  padding: 20px 15px;

}
.top-line {
 
}
.container {
  
  max-width: auto;
  display: grid;
  padding: 8px 8px;
  grid-template-columns: auto auto auto ;
  grid-column-gap: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.form-control {
  height: 47px;
  width: 100%;
  padding-right: 40px ;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #e5e5e5;
  
  
}


.search-bar {
  height: 47px;
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  border: none;
  margin-right: auto;
  margin-top: 11px;
 
 
}
  
  
 



.input-group-mb-3 {
  display: grid;
  grid-template-columns: 80% auto;
  cursor: pointer;
  
  font-size:14px;
  color: #555;
 border-color: rgb (204,204,204);
}

#button-addon2 
{
  
border-color:#ccc;
border: none;
line-height: 1.15;
}


#netmatters { 
  max-width: 100%;
  display: block;
  vertical-align: middle;
  margin-bottom: 0px;
}

.fa-bars {
 overflow: hidden;
  font-size: 30px;
background-color: #333645;
  padding: 15px;
  color: white;
  margin-left: 15px;
  border-radius: 3px;



 
 

 }

.hamburger {
  width:33px;
  display:block;
   border: none;
   background-color: transparent;
 margin-bottom: 50px;
   margin-right: 40px;
   margin-top: -10px;
 
   
  
}
 
 
 
 .fa-phone {
   font-size: 32px;
   margin-left: 15px;
   text-decoration: none;
 
   
  
 }
 



//navigational menu that appear in vp's bigger than  992px  


.nav-item {
display: none;
padding: auto;
width: auto;
margin: 0 auto;
}


.nav-link {
display: none;
font-family: $main-page-font-family;
text-decoration: none;
color:white;
width: auto;
margin: 0 auto;
}
   
// Main Image on page and caption

.page-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

  .main-image {
    width : 100%;
  align-items:center;
  justify-content: center;
  background: black;
  background:linear-gradient(black)transparent (25%),color (black),("img/home-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.caption-text
{ display: grid;
  font-family: sans-serif;
  color: white;
  text-align: center;
  line-height: 3rem;
  margin-left: auto;
  margin-right: auto;


}

.img-title
{ 
  font-size: 2.5rem;
  font-weight: 600;
 }

.img-text

{

  margin-bottom: .375rem ;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}


//Main page navigation buttons 

h1 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 line-height: 1.1;
 padding-left: 30px;
 font-weight: 600;
 font-size: 36px ;
} 

.main-buttons
 {
  
   font-family: $main-page-font-family;
  font-size: 1rem;
  letter-spacing: .4px;
  max-width: auto;
  display: grid;
  padding: 20px 20px;
  grid-template-rows: auto auto auto auto auto auto auto ;
  grid-row-gap: 30px;

  
  
}



.btn-primary, .btn-primary-2, .btn-primary-3, .btn-primary-4, .btn-primary-5, .btn-primary-6, .btn-primary-7 {
  
  display: $main-buttons-display;
  border-radius: $main-nav-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-width: $mains-button-border-width;
  text-decoration: none;
  padding: 50px;
  font-weight:1;
  cursor: pointer;
}

.btn-primary h2 , .btn-primary-2 h2, .btn-primary-3 h2,  .btn-primary-4 h2, .btn-primary-5 h2, .btn-primary-5 h2, .btn-primary-6 h2,
 .btn-primary-7 h2
{ 
  font-size:  $main-nav-h2-size;
  font-weight: $main-nav-weight;
  margin-bottom: $nav-button-margin;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary h3 , .btn-primary-2 h3, .btn-primary-3 h3,  .btn-primary-4 h3, .btn-primary-5 h3, .btn-primary-5 h3, .btn-primary-6 h3,
 .btn-primary-7 h3 
 {
   font-size:  $main-nav-h3-size;
   font-weight: $main-nav-weight;
   margin-bottom: $nav-button-margin;
   margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
 }

.btn-primary:hover {
  background-color: $hover-color-blue;
  color: white;
  
}



  .btn-primary:hover text
  {
    background-color: white;
    color: $hover-color-blue;
  }



.btn-primary text, .btn-primary-2 text, .btn-primary-3 text, .btn-primary-4 text, .btn-primary-5 text, .btn-primary-6 text,
.btn-primary-7 text {
  padding:10px;
  font-weight: 1;
  text-decoration: none;
  background-color: $hover-color-blue;
  border-radius: $main-buttons-radius;

  font-family: $main-font-family;
  cursor: pointer;
  color: white;
  
}

.btn-primary text:hover 
{
  background-color: white;
  color:$hover-color-blue
}

.btn-primary h2 
{
  font-weight: 1;
  
}

.btn-primary h3
{
  font-weight: 1;
}






.btn-primary-2:hover {
  background-color: $hover-color-bright-blue;
  color: white;
}




.btn-primary-2:hover text
{
  background-color: white;
  color: $hover-color-bright-blue;
}





  .btn-primary-2 text {
    padding:10px;
    font-weight:  $btn-primary-weight;
    text-decoration: none;
    background-color: $hover-color-bright-blue;

    font-family: $main-font-family;
    color: white;
    
  }
  
  .btn-primary-2 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-2 h3
  {
    font-weight:  $btn-primary-weight;
  }
 

 
    
    .btn-primary-3:hover 
    {
      background-color: $hover-color-bright-green;
      color: white;
     
    }
   
    .btn-primary-3:hover text
    {
      background-color: white;
      color: $hover-color-bright-green;
    }
  

    .btn-primary-3 text {
      margin-top: 10px;
      padding:10px;
      font-weight: 1;
      text-decoration: none;
      background-color: $hover-color-bright-green;
     
      font-family: $main-font-family;
      color:white;
      
    }

    .btn-primary-3 text:hover 
    {
      background-color: white;
      color:$hover-color-bright-green;
    }

    .btn-primary-3:hover text
    {
      background-color: white;
      color: $hover-color-bright-green;
    }
  
    .btn-primary-3 h2 
    {
      font-weight:  $btn-primary-weight;
    }
    
    .btn-primary-3 h3
    {
      font-weight:  $btn-primary-weight;
    }
    
    



  .btn-primary-4:hover 
  {
    background-color: $hover-color-red;
    color: white;
  }

  .btn-primary-4 text {
    padding:10px;
    font-weight: 1;
    text-decoration: none;
    background-color: $hover-color-red;

    font-family: $main-font-family;
    color:white;
    
  }

  .btn-primary-4 text:hover 
  {
    background-color: white;
    color:$hover-color-red;
  }

  .btn-primary-4:hover text
  {
    background-color: white;
    color: $hover-color-red;
  }
  
  .btn-primary-4 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-4 h3
  {
    font-weight:  $btn-primary-weight;
  }
  
  



  .btn-primary-5:hover 
  {
    background-color: $hover-color-purple;
    color: white;
  }

  .btn-primary-5 text:hover 
  {
    background-color: white;
    color:$hover-color-purple;
  }

  .btn-primary-5:hover text
{
  background-color: white;
  color: $hover-color-purple;
}

  .btn-primary-5 text {
    padding:10px;
    font-weight:  $btn-primary-weight;
    text-decoration: none;
    background-color: $hover-color-purple;

    font-family: $main-font-family;
    color:white;
    
    
  }
  
  .btn-primary-5 h2 
  {
    font-weight:  $btn-primary-weight;
    
  }
  
  .btn-primary-5 h3
  {
    font-weight:  $btn-primary-weight;
    
  }
  
  



  .btn-primary-6:hover 
  {
    background-color: $hover-color-pink;
    color: white;
  }

  .btn-primary-6:hover text
{
  background-color: white;
  color: $hover-color-pink;
}


  .btn-primary-6 text {
    padding:10px;
    font-weight: 1;
    text-decoration: none;
    background-color: $hover-color-pink;
 
    font-family: $main-font-family;
    color: white;
    
  }
  
  .btn-primary-6 text:hover
   {
     background-color: white;
     color:$hover-color-pink;

  }
  .btn-primary-6 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-6 h3
  {
    font-weight:  $btn-primary-weight;
  }
  
  


  .btn-primary-7:hover 
  {
    background-color: $hover-color-red;
    color: white;

  }

  .btn-primary-7:hover text
  {
    background-color: white;
    color: $hover-color-red;
  }

  .btn-primary-7 text {
    padding:10px;
    font-weight:  $btn-primary-weight;
    text-decoration: none;
    background-color: $hover-color-red;

    font-family: $main-font-family;
    color: white;
    
  }

  .btn-primary-7 text:hover
  {
    background-color: white;
    color: $hover-color-red;
  }
  
  .btn-primary-7 h2 
  {
    font-weight:  $btn-primary-weight;
  }
  
  .btn-primary-7 h3
  {
    font-weight:  $btn-primary-weight;
  }
  



//The small partner logos

.adverts {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.small-logos {
  
  max-width: auto;
  display: grid;
  padding: 20px 20px;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 30px;
  margin: 0;
  cursor: pointer;
  overflow-x: hidden;
}

  .logo-item-1 {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-1:hover
  {
  -webkit-filter: none ;
 }

 .logo-item-2 {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-2:hover
  {
  -webkit-filter: none ;
 }

 .logo-item-3 {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-3:hover
  {
  -webkit-filter: none ;
 }

 .logo-item-4 {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-4:hover
  {
  -webkit-filter: none ;
 }

 .logo-item-5 {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-5:hover
  {
  -webkit-filter: none ;
 }

 .logo-item-6 {
  -webkit-filter: grayscale(100%); 
  }

 .logo-item-6:hover
  {
  -webkit-filter: none ;
 }






//Netmatters info and client review

.welcome   {
  background-color:$main-color;
  max-width: 100%;
  display: grid;
  color:$main-font-color;
  padding-right: 5px;
  text-align: left;


 
    
 
}



article
{ font-family: sans-serif;
  line-height:1.8rem;
  letter-spacing:.4px;
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin-bottom: 25px;
  margin-left: 30 px;
  cursor: pointer;
  color:white;


}

.clients h1 {
  margin-left: 5px;
  text-align:left ;

}
.clients h3 {
font-style: italic;
text-align: left;

}

.fa-star {
  color:rgb(255, 238, 0);
  font-size: 50px;
  padding-right: 20px;
}

.btn-primary-welcome {
  border-radius:$page-buttons-border-radius ;
  background-color: $page-buttons-background-color;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  cursor: pointer;
}

h4 {
  font-family: $main-font-family;
  color:gray;
}
.btn-primary-client {
  border-radius:$page-buttons-border-radius ;
  background-color: $page-buttons-background-color;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  cursor:pointer;
}

.btn-primary-client2 {
  border-radius:$page-buttons-border-radius ;
  background-color: rgb(2, 168, 2);
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  margin-top: 20px;
  cursor: pointer;
}

//3 image and text cards
 
.cards 
{
 display: grid;

}


.card-1, .card-2, .card-3 {
  

  height: $main-buttons-max-height;
  margin:20px;
  display:grid;
  font-family: $main-font-family;

  padding-right: $card-padding;
  border: $card-border;
  border-radius: $card-border-radius ;
  grid-template-rows: auto auto auto ;
  text-decoration: none;
}

.card-img  {
  max-width:100%;
  display: grid;
  padding: 10px;
}



 
.card-text, .card-text-2, .card-text-3 {
  width: 100%;
 color: grey;
 margin:10px;
 text-decoration: none;


}

.btn-primary-card1, .btn-primary-card2, .btn-primary-card3 {
  border-radius:$page-buttons-border-radius ;
  background-color: $hover-color-blue;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  margin: 20px;

}

.btn-primary-card2, .btn-primary-card3{
  background-color: #926fb1;

}

.btn-primary-card1 {
  background-color: $hover-color-blue;
}

.btn-primary-cardlogo {
  border:none;
  background-color: white;
}

.postedb {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding-left:50px;
}

.posted-by-netmatters h6 {
  color:gray;
}






.card-title-2  {

  color: #926fb1;
  font-size: medium;
  margin:10px;
  font-family: $main-font-family;
  
}








.card-title-3  {

  color: #926fb1;
  font-size: medium;
  margin:10px;
  font-family: $main-font-family;
  
}





//View all button and arrow 

.view-all {
  border: none;
  background: transparent;
  padding:15px;
 margin-left: 35%;
  font-family: $main-font-family;
  font-weight: bold;
  font-size: x-large;
 
 
}

//Email form 

.email-form
{
  display: grid;
  font-family: $main-font-family; 
  background-color: rgb(206, 206, 206);
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  
  
  

}

.email-form h1 
{
  font-weight: lighter;
  text-align: center;
}

.form-label 
{
  margin:40px;
  border-top: 20px;
  
  
}

.fa-asterisk 
{
  color: red;
  font-size: 10px;
}


.form-check-input
{
 
  color: $main-color;
  background: transparent;
  background-color: $main-color ;
  width: 30px;
  height: 30px;
  margin: 20px;
  text-align: center;
  font-family: $main-font-family;
  float: left;
}

.form-check-label 
{
  color:#333645;
  font-weight: lighter;
}

//Subscribe button and arrow 

.btn-primary-subscribe 
{
background-color: #333645;
border-radius:$page-buttons-border-radius ;
padding-left: $page-buttons-left-padding;
padding-right: $page-buttons-right-padding;
padding-top: $page-buttons-top-padding ;
padding-bottom: $page-buttons-bottom-padding;
font-family: $main-font-family;
color: $main-font-color ;
border-width: $page-buttons-border-width; 
margin: 20px;
}

//Footer information and links 

footer {
  background-color:$main-color;
  max-width: 100%;
  display: grid;
  grid-template-columns:auto auto ;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:0%;
 
  

}
.about  {
 
  color:$main-font-color;
  padding-right: 5px;
  margin:0%;
  


}

.about h3 {
padding-top: 30px;
margin: 20px;
font-family: $main-font-family;
color: $main-font-color;
font-weight: lighter;
font-size: medium;
flex-wrap: wrap;
justify-content: space-between;

}

.about h4 {

  margin: 5px;
  margin-left:20px;
  font-family: $main-font-family;
  color: $main-font-color;
  font-weight: lighter;
  font-size: small;

  
  }

  .services
  {
  background-color:$main-color;
  max-width: 100%;

  color:$main-font-color;
  padding-right: 5px;
  margin:0%;
  
  }

  .services h3 {
    padding-top: 30px;
    margin: 20px;
    font-family: $main-font-family;
    color: $main-font-color;
    font-weight: lighter;
    font-size: medium;
    
    }

    .services h4 {

      margin: 5px;
      margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: small;
     
      
      }
    


    .cambridge  {
      
      color:$main-font-color;
      padding-right: 5px;
      margin:0%;
      
    
    
    }
    
    .cambridge h3 {
    padding-top: 30px;
    margin: 20px;
    font-family: $main-font-family;
    color: $main-font-color;
    font-weight: lighter;
    font-size: medium;
    
    }
    
    .cambridge h4 {
    
      margin: 5px;
      margin-left:20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: small;
     
      
      }
    
      .wymondham  {
    
        color:$main-font-color;
        padding-right: 5px;
        margin:0%;
        
      
      
      }
      
      .wymondham h3 {
      padding-top: 30px;
      margin: 20px;
      font-family: $main-font-family;
      color: $main-font-color;
      font-weight: lighter;
      font-size: medium;
      
      }
      
      .wymondham h4 {
      
        margin: 5px;
        margin-left:20px;
        font-family: $main-font-family;
        color: $main-font-color;
        font-weight: lighter;
        font-size: small;
      
        
        }
      
        .yarmouth  {
          
          color:$main-font-color;
          padding-right: 5px;
          margin:0%;
         
        
        
        }
        
        .yarmouth h3 {
        padding-top: 30px;
        margin: 20px;
        font-family: $main-font-family;
        color: $main-font-color;
        font-weight: lighter;
        font-size: medium;
        
        }
        
        .yarmouth h4 {
        
          margin: 5px;
          margin-left:20px;
          font-family: $main-font-family;
          color: $main-font-color;
          font-weight: lighter;
          font-size: small;
        
          
          }

        //Copyright Information
        
        .copyright
        {
          background-color: $main-color;
          margin: 0%;
        }

        .copyright h4 
        {
          padding: 30px;
          color:$main-font-color;
          margin: 0%;
          font-size: small;
          display: inline-block;
          font-weight: lighter;
          
        }
