/*Media Queries*/









@media screen and (min-width: 576px)
{
  

  .cookie-content {

    position:relative;
  background-color:#fff;
  border:1px solid;
  border-radius:5px;
    margin-top: 10%;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:15%;
    padding: 20px;
 
    width: 70%; /* Could be more or less, depending on screen size */

    outline:initial;
  
  }

  #sticky-holder
  {
    height:165px;
  }





  #bespoke-caption, #IT-caption, #digital-caption, #telecom-caption, #web-caption, #security-caption
  {
    margin-top: 120px;
  }

  .img-title
  {
    font-size: 40px;
  }

  
  .top-logo
  {
    width:70%
  }

  .ham
  {
    position:relative;
    top:1px;
    right:2px;
  }
  .posted-by-netmatters
{
  position:relative;
 
}

  .tail-inner
  {
    display:grid;  
    grid-template-columns:auto auto;
    align-items: center;
    padding-left:10%;
    padding-right:15px;
   
  }

  .tail
  {
    padding-left:5%
  }


  .offices
  {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10%;
    padding-left:0%;
    padding-right:0%;
  }

  .yarmouth
  {
    padding-top:20px;
  }


  .tail h5
  {
     font-size:10px;
  }

  .caption-text
  {
    margin-top:50px;
  }
}

@media screen and (min-width: 768px)
 {

  .contact-header
  {
    padding-top:145px;
  }

   .title
   {
    margin-top: 3px;
   }


  .cookie-content
  {
    margin:auto;
    margin-top:15%;
  }

  .cookie-btn
  {
    display: flex;
    flex-direction:row;
    gap:18px;
    align-content: center;
    justify-content:space-around;
 
    
  }

  #cookie-1, #cookie-2
  {
    font-size:17px;
    padding-left:40px;
    padding-right:40px;
    letter-spacing: 1.4;
  }

  .second-view
  {
    display:none;
  }

  #sticky-holder
  {
    height:125px;
  }

  .btn-header
  {
    justify-content: space-between;
    width: 100%;
  }

  #view-services-2
  {
    display: flex;
    position: relative;
    top: -20px;
  }

  .deck-box
  {
    margin-left: 10px;
    margin-right:10px;
  }

  .pop-ups
{
  z-index:100;
  display:flex;
  flex-direction:row;
  gap:5%;
  margin-left:10px;
  margin-right:10px;
  
 

}

.popped-1, .popped-2, .popped-3, .popped-4 
{
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index:300;


 
 
  
}

.logo
{
  height:auto;
  width:100%;
}

.busseys:hover .popped-1
{
  display: flex;
  position: absolute;



 


}

.popped-1
{
  margin-bottom:50px;

 
}

.crane:hover .popped-2
{
  display: flex;
 
}

.beat:hover .popped-3
{
  display:flex;

}

.north:hover .popped-4
{
  display:flex;

}

.popped-1
{
  margin-top: -200px;
 
}
.popped-2
{
  margin-top:-240px;
  margin-right:60px;
}

.popped-3
{
  margin-top:-220px;
}
.popped-4
{
  margin-right:0;
  margin-top: -240px;
}



.pop
{
  background-color: $main-color;
  color:white;
  text-align: center;
  font-family:sans-serif ;
  padding:20px;
  z-index: 400;
  position:relative;

  
}


.triangle{
	width: 0;
	height: 0;
	border-width: 30px 30px 0 30px;
	border-color: $main-color transparent transparent transparent;
	border-style: solid;
}



.p-title
{
  font-size: 20px;
  font-weight:200;
  letter-spacing: 1.4;
  line-height: 1.4;
 
}

hr
{ background-color:white;
  border-color:white;
  border:2px solid white;
  
}

.line-box
{
  padding-left:40%;
padding-right:40%;
padding-bottom:20px;
}


.p-text
{
  font-size: 15px;
  font-weight:200;
  letter-spacing: 1.4;
  line-height: 1.4;

}




 

  #east
  {
    margin-top:80px ;
  }

  .caption-text
  {
    padding-left:50px;
    padding-right:50px;
  }

.logo-box
{
    display: block;
    overflow-x: hidden;
}


.view-all
{
  display: flex;
  

}

  

  .card-h
  {
    margin-top:20px;
    display: flex;
    flex-direction:row;
    width: 90%;
    justify-content: space-between;
   

  }

  .view-all-2
  {
    display:flex;
    border:none;
    background-color: transparent;
    font-family: sans-serif;
    font-weight:600;
    color:#333645;
    font-size: 28px;
    letter-spacing: 1.4px;
 
    margin-top:25px;
    
 
    
    

  }

  .phone
  {
    display:none;
  }

  .container
  {
  flex-wrap: nowrap;
  }

  .top-logo
  {
    order:0
  }

  .ham
  {
     order:2;
  }

  .search-bar
  {
    order:1;
    position:relative;
    top:-5px;
    left:25px;
  }

  .ham
  {
    padding-right:3%;
  }


 


  .hamburger-menu
  {
   
    height:55px;
    width:55px;
  }

  .btn-outline-secondary
  {
    background-color: #999aa2;
    width:80px;
    height:55px;
    border-radius:0px 3px 3px 0px;
  }

  .form-control-1
  {
    background-color: white;
    height:55px;
    padding-left:10px;
  }
  .main-blocks-2
  {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-columns: auto auto;
    grid-column-gap: 2%;
    margin-bottom:50px;
  }

  .nav-button
  {
    display:flex;
  flex-direction: row;
  padding-left:15px;
  text-decoration:none;
  gap:5px;
  position:relative;
  top:240px;


    

  }

  .btn-map-home
  {
    text-decoration:none;
    color:black;
    font-weight:600;
    font-family: sans-serif;
    font-size:13px;

  }

  .home
  {
    text-decoration:none;
    color:black;
    font-weight:400;
    font-family: sans-serif;
    font-size:13px;
  }

  .fa-magnifying-glass
  {
    color:white;
    position:relative;
    left:2px;
  
  }
   .card-3
   {
    display:none
   }
  .posted-by-netmatters
  {
    right:0;
  }

  .deck
  {
    display:flex;
    flex-direction: row;
   max-width: 1170px;
   align-items: center;
   justify-items: center;
   margin-left: 0;
   margin-right:0;
   padding-left:20px;
   padding-right:20px;
   gap:30px;
 
  

  }


  .card-1, .card-2, .card-3
  {
    width:50%;
    height: 100%;
    
  }

  #card-text
  {
    padding-top:30px;
  }

 


 

  .small-logos-2
{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:40px;
  padding-left: 5%;
  padding-right:5%;
  height:45px;
  overflow-x: hidden;
  margin-bottom:40px;
  
}
  .offices
  {
  display:flex;
  gap:25%;
  padding-right:5%;

  }
  

}

@media screen and (min-width: 992px)
{
  .nameandemail-2
 {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap:4%;
 }
 
  .contact-header
  {
    background-color: transparent;
    color: $main-color;
    font-size:50px;
    padding-top:90px;
  }

  .map-deck
  {
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:2% ;
  }

  .icon
  {
    font-size: 7px;
  line-height: 2;
  font-weight:800;

  
  }
  .sidenav
  {
    padding-top:0px;
  }

  #cookie-1, #cookie-2
  {
    font-size:17px;
    padding-left:70px;
    padding-right:70px;
    letter-spacing: 1.4;
  }

  #sticky-holder
  {
    height:115px;
  }

  .Main-page
  {
    padding-top: 0;
  }
  .inner-nav
  {

   display:flex;
   flex-direction: row; 
   width:100%;
   
   gap:6%;
   align-items: center;
   justify-content: center;
   

  }
  
  .inner-content
  {
    display: none;
  }
  #card-text
  {
    padding-top:0px;
  }
  
#main-card
{padding-bottom:20px;}

  .view-all-2
  {
    left:58%;
  }

.inner-content-1
{
  display: grid;
  grid-template-columns: 8px auto;

}


.title
{
  display: none;
}

  #services-992
{display:block}

#title-4
{
  display:none
}



  .nav
  {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $main-color;
    width:100%;
    font-family: sans-serif;
   z-index: 101;
    flex-wrap: nowrap;
   
  }

 .scrolling
 {
  padding-top: 110px;
 }

  .nav-item
  {
    list-style: none;
    color: white;
    display:flex;
    padding-bottom:15px;
    padding-top:15px;
    flex-direction: column;
    align-items: center;
    gap:5px
  }

  .nav-item small
  {
    margin-top:10px;
  }

  #small-table
  {
    color:$hover-color-blue;
  }

  #small-desktop
  {
    color:$hover-color-bright-blue;
  }

  #small-chart
  {
    color:$hover-color-bright-green;
  }

  #small-phone
  {
    color:$hover-color-red;
  }

  #small-code
  {
    color:$hover-color-purple;
  } 

  #small-shield
  {
    color: $hover-color-pink;
  }

  #small-cap
  {
    color:$hover-color-red;
  }

  .btn-outline-secondary
  {
    position:relative;
    left:63px;
    width:60px;
    
  }

  .header-contact
  {
    position:relative;
    left:70;
    top:7px;
  }

  .contact
  {
    @include primary-button-text;

  }

  .support
  {
    @include primary-button-text;
  }

  .form-control-1
  {
    display:none
  }
  .contact
  {
   
    width:150px;
    margin-right:5%;
    height:53px;
  }

  .contact a
  {
    color:white;
    
    text-decoration: none;
    
  }

  .contact:hover
  {
    background-color:#717279 ;
  }

 



  .support:hover
  {
    background-color: #287aff;
  }
   .support
  {
       
    height:53px;
    background-color: #4387f6; 
    text-align: center;
    
    width:150px;


  
    display:block;

  }

  .support a
  {
    color:white;
    text-decoration:none;
  }
  .top-logo
  {
    width:50%;
  }


  .contact
  {
 
  
    background-color: #84858f; 
    text-align: center;
   
  
    

  }
  .header-contact
  {
    display:flex;
    flex-direction: row;
    gap:5%;
    width:100%;
    height:50px;
   left:100px
  }

.nameandemail
  {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap:5%;
  }

  .email-1, .email-2
  {
    width:50%;
  }


  .main-blocks
  {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
  }

  .welcome
  {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-around;
    padding-left:5%;

    
  }

  .info
  {
    width:50%;
    padding-right:5%;
  }
  .clients
  {
    width:50%
  }

  .small-logos-2
  {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    padding-left: 5%;
    padding-right:5%;
    height:65px;
    overflow-x: hidden;
    
  }
  .offices
  {
    padding-right:11%;
    gap:32%;
  }

  .caption-text
  {
    text-align: left;
    
  }

  .img-title
  {
    font-size:60px;
  }

  .img-text
  {
    font-size:25px;
  }

  #bespoke-caption
  {
    margin-top:130px;
  }

  #digital-caption
  {
    margin-top:130px;
  }
}

@media screen and (min-width: 1025px)
{
  .main-carousel

  {
    height: 550px
  }
 
  

  

  
.holder
{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%
}





  
  .view-all-2
  {
    left:60%;
  }

  
 .page-image
 {
  opacity: 60%;
  width:100%;
  background: linear-gradient(270deg,transparent 25%,#000);
  background-image: linear-gradient(270deg, transparent 25%, rgb(0, 0, 0));
  -webkit-filter: brightness(100%);
  height:564px;
 }

 .caption-text
 {
  position: relative;
  top:-550px;

 }

  .fa-magnifying-glass
  {
    position: relative;
    left:2px;
  }
  .btn-outline-secondary
  {
    position: relative;
    left:65%
  }


  .small-logos-2
  {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:120px;
    padding-left: 10%;
    padding-right:10%;
    height:65px;
    overflow-x: hidden;
    max-width: 1170px;
    
  }


  .offices
  {
    display:flex;
    flex-wrap: nowrap;
    gap:10%;
    padding-left:5%;
  }

  .yarmouth
  {
    padding-top:0;
  }

  .tail-inner
  {
  padding-left:20%;
  padding-right:3%;
   
  }

  .shoe-box
  {
    background-color: $main-color;
    width:100%;
    justify-content: space-between;
  }
}


@media screen and (min-width: 1260px)
{

  .cookie-content
  {
    max-width:700px;
  }
  .card-title-1
  {
    font-size: 20px;
  }

  .main-carousel

  {
    height: 650px
  }
 

  .popped-1
  {
    position: relative;
    z-index: 300;
  }



  .pop-ups
  {
    width:100%;
    height:100%;
    max-width: 1170px;
    gap:10%;
  }
  .caption-text
  {
    padding-left: 0;
    padding-right:0;

  }
  #east
  {
    margin-top: 10px;
  }

  #bespoke-caption, #IT-caption, #digital-caption, #telecom-caption, #web-caption,#security-caption
  {
    margin-top:30px;
  }
  .img-title
  {
    font-size: 70px;
  }

  .img-text
  {
    font-size: 35px;
  }
  
  
    .deck-box
    {
        justify-content: center;
        align-items: center;
        
    }

   


  .small-logos-2
  {
    width:100%;
    padding:0px;
    justify-content: center;
  }


  .deck
  {max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  gap:35px;
 
}
  #w-holder
  {
    background-color: $main-color;
  }

  .tail-box
  {
    background-color: $main-color;
  }

  .tail
  {
    max-width:1170px;
    padding-left: 0;
    padding-right: 0;
  }
  .welcome
  {
    max-width:1170px;
    padding:0
  }


  .page-image
  {
    height:auto;
  }

  
   
  
  .form-control-1
  {
    display:block;
   width:98%;
   line-height:1.4;
   font-size:14px;
   color: #999aa2;
   background-color:white;
   outline:1px solid hsla(0,0%,100%,.2);
   border:2px solid rgba(0,0,0,.1)
  }

  .btn-outline-secondary
  {
   color:none;
   
   border: none;
   position:relative;
   right:15px;
   left:12%;
   width:70px;
  }
  .form-control-1
  {
    position:relative;
    left:27%;
  }
  
  .footer
  {
    max-width: 1170px;
    width: 100%;
  }

  hr 
  {
    max-width: 1170px;
    width: 100%;
    text-align: center;
  }



  .fa-magnifying-glass
  {
    position:relative;
     right:65%;
   font-size:22px;
   color:white;
  }

  .email-box
 {
  justify-content: center;
  align-items: center;
  background-color: #ddd
 }
 
 .email-form
 {
 padding:0;
 }

  

  .main-buttons
  {
    max-width:1170px;
  }
  .main-blocks-2
  {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }


  .card-h
  {max-width:1170px ;}
  .card-1, .card-2, .card-3
  {
    width:33%;
  }

  .card-3
  {
    display:flex
  }
  .tail h3
  {
white-space: nowrap;
  font-size: 18px;
  }

  .tail
  { display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    padding-right:10%;
 
    width:100%;

  
  .offices
  {
    padding-right:0px;
    padding-left: 2%;
  }

 



  .yarmouth
  {
    position:relative;
    top: 18px;
  }
  .header-search
  {
    position:relative;
    margin-left:200px;
  }
    
  
   

  }

  .tail-inner
  {
    display:flex;
    flex-direction: row;
   
    padding-left:0px;
    gap:10%;
    padding-right:15%;
  }




  .page-image
  {
    height:650px
  }


  



}

@media screen and ( min-width:1270px)
{

  .holder-p
  {
    margin-top:0%;
  }
}



