@mixin primary-button 
{
    display: $main-buttons-display;
    border-radius: $main-nav-radius;
    width: $main-buttons-width;
    max-height: $main-buttons-max-height;
    margin: $main-buttons-margin;
    border-width: $mains-button-border-width;
    text-decoration: none;
    padding: 50px;
    font-weight:1;
    cursor: pointer;
    letter-spacing: .4px; 
}