
    
    /*main font stacks */

    $main-font-family: Verdana, Geneva, Tahoma, sans-serif;

    $main-page-font-family: Poppins,sans-serif;

    //Font weights
    $title-font-weight: 600;
    $btn-primary-weight: 1;
    $main-nav-weight: 400;
    $logo-font-size: 32px;

    //font sizes 
    $main-nav-h2-size: 1.3rem;
    $main-nav-h3-size: 13.5px;

    //margin sizes
    $nav-button-margin: 15px;


$main-color: #333645;
$main-nav-radius: 15px;
$main-buttons-radius: 3px;
$main-buttons-display: block;
$main-buttons-width: 96%;
$main-buttons-max-height: 700px;
$main-buttons-margin: 2%;
$main-buttons-border-color: rgb(180, 177, 177);
$mains-button-background-color: white;
$mains-button-border-width: 1px;




$main-font-color: white;


/* colours used when hovering over main buttons*/

$hover-color-blue:  #67809f;
$hover-color-purple:#926fb1;
$hover-color-bright-blue: #4183d7;
$hover-color-bright-green: #2ecc71;
$hover-color-red:#d64541;
$hover-color-pink:  #f62459;

/*button variables */
$page-buttons-border-radius: 8%;
$page-buttons-background-color:#232530;
$page-buttons-left-padding: 8%;
$page-buttons-right-padding: 8%;
$page-buttons-top-padding: 4%;
$page-buttons-bottom-padding: 4%;
$page-buttons-border-width: 0px;


/* card variables*/

$card-max-width: 100%;
$card-display: grid;
$card-margin: 20px;
$card-padding: 5px;
$card-border: solid gray thin ;
$card-border-radius: 2% ;
$card-img-margin: 10px;
$card-img-width: 150%;

/*icon variables*/

$icon-size: 65px;
$icon-background-hover: white;
 

